<% content_for :css do %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/user_info.scss">
<% end %>
<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3" style="text-align: center;">
       <h1>Staff site</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->

      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right left_profile">
            <div style="padding: 10px 5px;">
                <span class="pull-left"><strong>Status</strong></span>
                <%= @user.status %>
            </div>
        </li>
        <li class="list-group-item text-right left_profile">
            <div style="padding: 10px 5px;">
                <span class="pull-left"><strong>Email</strong></span>
                <%= @user.email %>
            </div>
        </li>
        <li class="list-group-item text-right left_profile">
            <div style="padding: 10px 5px;">
                <span class="pull-left"><strong>Telephone</strong></span>
                <%= @user.phone_number %>
            </div>
        </li>
        <li class="list-group-item text-right left_profile">
            <div style="padding: 10px 5px;">
                <span class="pull-left"><strong>Address</strong></span>
                <%= @user.address %>
            </div>
        </li>
      </ul>
     


    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <% if @user.status == "blocked" %>
        <h1 class="text-center">You has been blocked</h1>
      <%end%>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#waitting_products" data-toggle="tab">Waitting products</a></li>
        <li><a href="#home" data-toggle="tab">All products</a></li>
        <li><a href="#users" data-toggle="tab">All users</a></li>
      </ul>

      <div class="tab-content">
      <div class="tab-pane active" id="waitting_products">
      <div class="table-responsive">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Current price</th>
          <th>Buy now price </th>
          <th>Status</th>
          <th>Post time</th>
          <th>Seller</th>
        </tr>
      </thead>
        <tbody id="items">
          <% @waittingproducts.each do |product| %>
            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle ">
              <td> 
                <%= link_to product_path(product.id), class: "card-title" do %>
                  <%= product.name %>
                <% end %>    
              </td>
              <td><%= product.current_price %>$</td>
              <td><%= product.buy_now_price %>$</td>
              <td><%= product.status %></td>
              <td><%= product.created_at %></td>
              <td> 
                  <%= link_to profile_path(product.seller_id), class: "card-title" do %>
                    View profile
                  <% end %>
              </td>           
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
        <div class="tab-pane" id="home">
          <div class="table-responsive">
          <table class="table table-hover">
          <thead>
            <tr>
              <th>Product name</th>
              <th>Current price</th>
              <th>Buy now price </th>
              <th>Ending time</th>
              <th>Status</th>
              <th>Winner/High bidder</th>
              <th>Note</th>
            </tr>
          </thead>
            <tbody id="items">
              <% @allproducts.each do |product| %>
                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle ">
                  <td> 
                    <%= link_to product_path(product.id), class: "card-title" do %>
                      <%= product.name %>
                    <% end %>    
                  </td>
                  <td><%= product.current_price %>$</td>
                  <td><%= product.buy_now_price %>$</td>
                  <td><%= product.end_time %></td>
                  <td><%= product.status %></td>
                  <% if product.winner %>
                    <td> 
                      <%= link_to profile_path(product.winner), class: "card-title" do %>
                        View profile
                      <% end %>
                    </td>
                  <% else %>  
                    <td>No one</td>
                  <% end %>
                  <td><%= product.reason %></td>                
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          
          <!--/table-resp-->
        </div>
        <!--/tab-pane-->
        <div class="tab-pane" id="users">

            <div class="table-responsive">
              <table class="table table-hover">
              <thead>
              <tr>
                <th>Email</th>
                <th>Id</th>
                <th>Name price</th>
                <th>Status</th>
                <th>Profile</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="items">
              <% @users.each do |user| %>
                <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle ">
                  <td><%= user.email %>$</td>
                  <td><%= user.id %>$</td>
                  <td><%= user.name %></td>
                  <td><%= user.status %></td>
                  <td> 
                    <%= link_to profile_path(user.id), class: "card-title" do %>
                      View profile
                    <% end %>
                  </td>
                  <% if user.status=="blocked" %>
                    <td><%= link_to 'Unblock', unblock_path(user.id), data: { confirm: 'Are you sure?' } %></td>
                  <% else %>  
                    <td><%= link_to 'Block', block_path(user.id), data: { confirm: 'Are you sure?' } %></td>
                  <% end %>                
                </tr>
              <% end %>
            </tbody>
              </table>
            </div>

        </div>
        <!--/tab-pane-->
        

       
      </div>
      <!--/tab-pane-->
    </div>
    <!--/tab-content-->

  </div>
  <!--/col-9-->
</div>
<!--/row-->
</hr>
<% content_for :js do %>
    <script type="text/javascript" src="../../assets/javascript/user_info.js"></script>
<% end %>
